@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Custom Properties */
:root {
  --primary-color: #3195ff;
  --secondary-color: #333;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --header-opacity: 0.7;
}

/* Basic Styles */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

section {
  padding: 20px;
}

.section-padding-lg {
  padding: 40px 20px;
}

.section-padding-xl {
  padding: 60px 20px;
}

section h2 {
  text-align: center;
}

/* Form Input */
input[type='email'],
input[type='text'] {
  width: 100%;
  padding: 15px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Navbar */
.navbar {
  /* background-color: var(--primary-color); */
  background-color: #000;
  height: 70px;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 50px;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

.navbar img {
  display: block;
  width: 250px;
  height: 60px;
}

.navbar .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .logo-wording {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul a {
  margin-left: 30px;
  padding-bottom: 5px;
}

.navbar ul a:hover {
  color: var(--primary-color);
  border-bottom: 2px var(--primary-color) solid;
}

/* Header */
.header {
  position: relative;
  background: url('https://www.traversymedia.com/images/bg.png') no-repeat center center/cover;
  height: 1100px;
  width: 100%;
  text-align: center;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay */
.header::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, var(--header-opacity));
  position: absolute;
  top: 0;
  left: 0;
}

.header-inner {
  position: relative;
  z-index: 2;
  width: 700px;
  margin: 0 auto;
}

.header h5 {
  font-size: 20px;
  color: var(--primary-color);
}

.header h1 {
  font-size: 65px;
  line-height: 1.4;
  text-transform: uppercase;
}

.header p.lead {
  font-size: 20px;
  margin: 30px 0;
}

.header .btn {
  padding: 10px 30px;
}

/* Stats */
.header .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 120px;
}

.header .stats img {
  width: 100px;
  height: 100px;
}

.header .stats i {
  width: 100px;
  height: 100px;
}

.header .stats h3 {
  font-size: 50px;
}

.stats p {
  font-size: 20px;
  margin-top: 0;
}

/* Email Subscribe */
.email .container,
.social .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: space-between;
  align-items: center;
}

.email h3,
.social h3 {
  font-size: 23px;
  text-transform: uppercase;
}

.email form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email form input {
  width: 60%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px transparent solid;
}

.email .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Social */
.social div {
  justify-self: end;
}

.social a {
  margin-left: 30px;
}

.social a:hover {
  color: #000;
}

/* Courses */
.courses h2 {
  margin: 30px 0 20px;
}

.courses h2:nth-of-type(2) {
  margin: 50px 0 30px;
}

.courses p:nth-of-type(1) {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.courses .promo-code {
  position: absolute;
  bottom: -35px;
  left: 50%;
  /* right: 5px; */
  transform: translateX(-50%);
  font-size: 13px;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.courses .card:hover .promo-code {
  opacity: 1;
}

.courses .promo {
  font-size: 13px;
  font-weight: bold;
  color: #ea5252;
  /* background: #000; */
  margin-left: 10px;
  padding: 3px;
}

.courses .promo-code span {
  color: #ea5252;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.course-grid .card-body {
  padding-top: 30px;
  height: 150px;
}

.course-grid .card-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.course-grid .card-footer img {
  width: 30px;
  margin-right: 10px;
}

.course-grid.more {
  margin-top: 40px;
  display: none;
}

.course-grid.more.show {
  display: grid;
}

.course-grid .course-img {
  width: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.course-grid a:hover {
  color: #ea5252;
}

.course-grid .level {
  margin-bottom: 5px;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* eBook */

.ebook {
  padding: 50px 0;
  font-size: 1.3rem;
}

.ebook-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.ebook img {
  width: 450px;
  margin-right: 40px;
}

.ebook h3 {
  font-size: 45px;
}

.ebook a {
  margin-top: 20px;
}

.ebook .ebook-content {
  margin: auto;
}

/* Freelance Course */
.freelance {
  padding: 0 20px;
  font-size: 1.1rem;
}

.freelance h3 {
  margin: 10px 0;
  font-size: 28px;
}

.freelance img {
  width: 400px;
}

.freelance .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.freelance .btn {
  margin-top: 30px;
}

.freelance .btn:hover {
  background-color: var(--dark-color) !important;
  color: #fff;
}

/* About */

.about {
  font-size: 1.1rem;
}

.about h2 {
  margin: 10px 0 30px;
}

.about img {
  justify-self: center;
}

.about-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Testimonials */
.testimonials {
  padding-bottom: 60px;
}

.testimonials h2 {
  margin-top: 30px;
}

.testimonials p {
  margin-bottom: 35px;
}

.testimonials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.testimonials .card-head {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

.testimonials .card-body {
  height: 190px;
}

/* YouTube */
.youtube {
  /* border-top: #fff solid 7px; */
}

.youtube .yt-btn {
  margin: auto;
  text-align: center;
  display: block;
}

.youtube p {
  margin-bottom: 30px;
}

.youtube-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube .yt-buttons {
  margin-top: 20px;
}

.youtube .yt-buttons .btn {
  margin: 5px;
}

/* Crash Courses */
.crash-grid {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.crash img {
  transition: 0.5s;
  border: 2px #f4f4f4 solid;
}

.crash img:hover {
  transform: translateY(-15px);
}

/* Patreon */
.patreon-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.patreon img {
  width: 300px;
  justify-self: center;
}

.guide-link {
  text-align: center;
  color: #000;
}

/* Guide Page */
.header-guide {
  padding-top: 100px;
  height: 600px;
}

.header-guide h1 {
  font-size: 55px;
}

.header-guide .header-inner {
  width: 800px;
}

.guide h2 {
  margin-bottom: 20px;
}

.guide .card {
  margin-bottom: 40px;
}

.guide .card > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.guide > div h2 {
  background: #000;
  margin: 10px 0 20px;
}

.guide img {
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.updated {
  color: #ea5252;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

/* Utility Classes */

/* Card */
.card {
  background-color: #222;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  position: relative;
  border: #333 solid 1px;
}

.card-light {
  background-color: #f4f4f4;
  color: #333;
  border: #eee solid 1px;
}

/* Buttons */
.btn {
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 5px 25px;
  text-align: center;
  font-weight: 700;
  line-height: 2.4rem;
  border: 1px transparent solid;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  /* background-color: var(--secondary-color); */
  background-color: transparent !important;
  color: #fff;
  border: 1px solid #fff;
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}

.btn-primary-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-primary-outline:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-dark {
  background-color: var(--dark-color);
}

.btn-dark:hover {
  background-color: var(--secondary-color);
}

.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.btn-light:hover {
  opacity: 0.9;
}

.btn-patreon {
  background-color: #f56854;
  color: #fff;
  margin: auto;
  display: block;
  border-left: #333 5px solid;
  margin-top: 20px;
}

.btn-patreon:hover {
  transform: scale(0.98);
}

.btn-more {
  margin: 40px auto;
  width: 100%;
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-red {
  color: #ea5252;
}

.text-light {
  color: #777;
}

/* Text Sizes */
.text-small {
  font-size: 12px;
}

.text-lg {
  font-size: 35px;
}

.lead {
  font-size: 20px;
}

/* Text Align */
.text-center {
  text-align: center;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-dark-pattern {
  background-image: url('../images/bg-pattern-1.png');
  color: #fff;
}

.bg-light-pattern {
  background-image: url('../images/bg-pattern-2.png');
  color: #333;
}

.bg-dark-blue {
  background-color: #143f7d;
  color: #fff;
}

.bg-videos {
  background: url('../images/videos-bg.png') no-repeat center center/cover;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  h2 {
    line-height: 1.3;
  }

  .header {
    height: 100vh;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p.lead {
    font-size: 18px;
  }

  .header .stats {
    display: none;
  }

  .email .container {
    grid-template-columns: 1fr;
  }

  .email h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .email form input {
    width: 50%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px transparent solid;
  }

  .email .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .social h3 {
    text-align: center;
    font-size: 20px;
  }

  .social div {
    margin-top: 20px;
    justify-self: center;
  }

  .social i {
    font-size: 25px;
  }

  .social a {
    margin: 0 10px;
  }

  .course-grid,
  .about-grid,
  .testimonial-grid,
  .youtube-grid,
  .crash-grid,
  .patreon-grid,
  .ebook-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .ebook img {
    width: 300px;
    margin: auto;
  }

  .ebook {
    padding: 40px 20px;
    text-align: center;
    font-size: 1.1rem;
  }

  .freelance .container,
  .social .container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .freelance .container img {
    width: 330px;
    order: -1;
  }

  .freelance .btn {
    width: 100%;
  }

  .testimonials .card-body {
    height: 330px;
  }

  .header-guide {
    display: none;
  }

  .guide {
    padding-top: 90px;
  }

  .guide .card > div {
    grid-template-columns: 1fr;
  }
}
